*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(228, 220, 222);
}
section{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  max-width: 700px;
  width: 100%;
  margin: auto;
  display: flex;
  height: 70vh;
}
picture{
  border-radius: 10px 0px 0px 10px;
  width: 50%;
  height: 70vh;
}
.right{
  border-radius: 0px 10px 10px 0px;
  width: 50%;
  height: 70vh;
  background-color: white;
  padding: 45px;
}
.left img{
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
.one h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: rgb(158, 152, 152);
  font-weight: 150;
  font-size: 16px;
}
.two h1{
  font-size: 35px;
  font-family: cooper;
  padding-top: 20px;
}
.three h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(158, 152, 152);
  font-weight: 150;
  font-size: 15px;
  padding-top: 20px;
  line-height: 20px;
}
.four{
  display: flex;
  padding-top: 20px;
}
.four :nth-child(1){
  font-size: 35px;
  font-family: news706 bt;
  color: rgb(34, 143, 116);
}
.four :nth-child(2){
  padding: 13px;
  text-decoration: line-through;
  color: rgb(158, 152, 152);
  padding-left: 30px;
}
.five{
  padding-top: 20px;
}
button{
  display: flex;
  color: white;
  background-color: rgb(34, 143, 116);
  border-color: rgb(34, 143, 116);
  height: 40px;
  width: 90%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
button p{
  padding-left: 5px;
}


@media (max-width:1069px)and
        (min-width:768px){
          .two h1{
            font-size: 30px;
            padding-top: 6px;
          }
          .three h3{
            padding-top: 10px;
          }
        }

@media (max-width:768px)and
        (min-width:578px){
          .container{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .attribution{
            position: relative;
            top: 290px;
          }
          .left{
            width: 70%;
          }
          .left img{
            border-radius: 10px 10px 0px 0px;
          }
          .right{
            border-radius: 0px 0px 10px 10px;
            width: 70%;
          }
        }      
        @media (max-width:578px)and
        (min-width:320px){
          .container{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .attribution{
            position: relative;
            top: 290px;
          }
          .left{
            width: 70%;
          }
          .left img{
            border-radius: 10px 10px 0px 0px;
          }
          .right{
            border-radius: 0px 0px 10px 10px;
            width: 70%;
            padding: 20px;
          }
          .two h1{
            font-size: 25px;
            padding-top: 5px;
          }
          .three h3{
            padding-top: 10px;
          }
          .four{
            padding-top: 7px;
          }
          .five{
            padding-top: 9px;
          }
          .four :nth-child(2){
            padding-left: 10px;
          }
          .four :nth-child(1){
            font-size: 30px;
          }
          button{
            height: 30px;
            width: 100%;
          }
          .attribution{
            position: relative;
            top: 100px;
          }
        }